{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Flasky {% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Witaj, {% if the_name == "Iwonka" %}{{ the_name }}{% else %}nieznajomy{% endif %}!</h1>
    {% if not the_known %}
    <p>Miło Cię poznać!</p>
    {% else %}
    <p>Witaj ponownie!</p>
    {% endif %}
</div>
{{ wtf.quick_form(the_form) }}
<br>
<p>Lokalna data i czas: {{ moment(the_current_time).format('LLL') }}.</p>
<p>To było: {{ moment(the_current_time).fromNow(refresh=True) }}.</p>
{% endblock %}




    
